<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catfact</title>
</head>
<body>
<h1>Welcome</h1>
<p>/getSingle - Fetch a single cat fact</p>
<p>/getTen - Fetch 10 cat facts</p>
<p>/getTenSortByDate - Fetch 10 and sort them by date of creation</p>
<p>/contains?char=x&amount=n - This endpoint requires two parameters. The parameters required are a character and an integer n. The
    endpoint will print the fact if the character is contained n amount of times. </p>
</body>
</html>